

.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;

}


.contact-col h3{
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;


}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}


.contact-col p{
    max-width: 450px;
    line-height: 1.3;

}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;

}


.contact-col ul li img{
    width: 25px;
    margin-right: 10px;

}


.contact form input, .contact form textarea{

    display: block;
    width: 100%;
    background: #ebecfe;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;


}

.contact-col span{
    display: block;
    margin: 20px 0;

}

/* =========================
   Mobile & Tablets (≤ 768px)
   ========================= */
@media (max-width: 768px) {

.container .contact {
   
    padding-left: 6%;
    
  }



  .contact {
    flex-direction: column;
    margin-left: -20px;
    margin-right: -10px;
    width: 100%;

  }

  .contact-col {
    width: 100%;
  }

  .contact-col h3 {
    font-size: 22px;
  }

  .contact-col p {
    font-size: 14px;
    padding-right: -20px;
  }

  .contact-col ul li {
    font-size: 14px;
  }

  .contact form{
    width: 330px;
    margin-left: -15px;
    margin-top: 20px;
  }

  .contact-col input,
  .contact-col textarea {
    font-size: 14px;
    padding: 12px;
  }

  .btn.dark-btn {
    width: 100%;
    justify-content: center;
  }
}

/* =========================
   Small Phones (≤ 480px)
   ========================= */
@media (max-width: 480px) {
  .contact {
    padding: 40px 5%;
  }

  .contact-col h3 {
    font-size: 20px;
  }

  .contact-col ul li img {
    width: 18px;
  }
}

