

.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;

}


     .footer{
        padding-left: 10%;
        padding-right: 10%;

    }




.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;

}


@media (max-width:768px) {

    .container .footer{
        padding-left: 0%;
        padding-right: 0%;

    }


.footer{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px 0;

}


.footer ul li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;

}
    
}