

.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;

}


.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}


.gallery img{
    width: 23%;
    border-radius: 10px;

}


@media (max-width:767px) {


    

.campus{
    margin: 0px auto;
    width: 100%;
    text-align: center;


}



    
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

    

.gallery img{
    width: 100%;
    border-radius: 10px;

}



}